business_domain = "1"
app_id = "1"
user_addr = "1"
chain_id = "7332"
timestamp = "1739102400"
intent_id = "123"
amount = "100000000"
wise_receipt_hash = "707"
nullifier = "999"
statement = "123456"
secret = "42"
wise_witness_hash = "888"
